KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=
ARCH_C_OBJS=$(shell find ${ARCHDIR} -not -path "${ARCHDIR}/crtstuff/*" -name "*.c")
ARCH_ASM_OBJS=$(shell find ${ARCHDIR} -not -path "${ARCHDIR}/crtstuff/*" -name "*.S")
ARCH_CRTOBJS=$(shell find ${ARCHDIR}/crtstuff -name "*.rawbin" -not -name "0*")
ARCH_CRT_C=$(shell find ${ARCHDIR}/crtstuff -name "*.c" -not -name "0*")
ARCH_CRT_ASM=$(shell find ${ARCHDIR}/crtstuff -name "*.S" -not -name "0*")
ARCH_CRT_ORDERED=00_crti.o 01_crtbegin.o 02_crtend.o 03_crtn.o
ARCH_CRT=\
$(addprefix ${ARCHDIR}/crtstuff/, $(ARCH_CRT_ORDERED))\
$(ARCH_CRTOBJS:.rawbin=.o)\
$(ARCH_CRT_C:.c=.o)\
$(ARCH_CRT_ASM:.S=.o)
KERNEL_ARCH_OBJS=\
$(ARCH_C_OBJS:.c=.o)\
$(ARCH_ASM_OBJS:.S=.o)\
