LIBGCC_PATH=$(dir $(shell $(CC) -print-libgcc-file-name))
KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=
ARCH_C_OBJS=$(shell find ${ARCHDIR} -not -path "${ARCHDIR}/crtstuff/*" -name "*.c")
ARCH_ASM_OBJS=$(shell find ${ARCHDIR} -not -path "${ARCHDIR}/crtstuff/*" -name "*.S")
#ARCH_CRTOBJS=$(shell find ${ARCHDIR}/crtstuff -name "*.rawbin" -not -name "0*")
ARCH_CRTOBJS=crtbegin.o crtend.o
ARCH_CRT_C=$(shell find ${ARCHDIR}/crtstuff -name "*.c" -not -name "0*")
ARCH_CRT_ASM=$(shell find ${ARCHDIR}/crtstuff -name "*.S" -not -name "0*")
ARCH_CRT_ORDERED=${ARCHDIR}/crtstuff/00_crti.o ${LIBGCC_PATH}/crtbegin.o ${LIBGCC_PATH}/crtend.o ${ARCHDIR}/crtstuff/03_crtn.o
ARCH_CRT_BUILD=\
${ARCHDIR}/crtstuff/00_crti.o \
${ARCHDIR}/crtstuff/03_crtn.o \

ARCH_CRT=\
$(ARCH_CRT_ORDERED)\
$(ARCH_CRT_C:.c=.o)\
$(ARCH_CRT_ASM:.S=.o)
KERNEL_ARCH_OBJS=\
$(ARCH_C_OBJS:.c=.o)\
$(ARCH_ASM_OBJS:.S=.o)\
