KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=
ARCH_C_OBJS=$(shell find ${ARCHDIR} -not -path "${ARCHDIR}/crtstuff/*" -name "*.c")
ARCH_ASM_OBJS=$(shell find ${ARCHDIR} -not -path "${ARCHDIR}/crtstuff/*" -name "*.S")

KERNEL_ARCH_OBJS=\
$(ARCH_C_OBJS:.c=.o)\
$(ARCH_ASM_OBJS:.S=.o)\
